@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Shop smart is a free service for shopping Quickly! <br />
    Our only goal is to help you save time & money.<br />
    We will orgenize your shopping list in order to make a single rout for getting all of you groceries.
    Be smart, shop-smart.</p>
