@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron divWelcome">
    Shop Smart!  
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Shop Smart?</h2>
        <p>
            Shop smart is a free service for shopping Quickly.
            We help you arrange you shoplist to match the order of items in any supermarket.
            Arranging you list will save you both time and money!
        </p>
        
        <p>@Html.ActionLink("Create List", "Index", "CreateList", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Why register?</h2>
        <p>If you register, Shop smart will be able offer you to base your shopping list on a list you have created in the past.
        In the future we will also be able to suggest items you might want to buy!</p>
        <p>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Don't want to register?</h2>
        <p>Not a problem! just go ahead and create your list!</p>
        <p>@Html.ActionLink("Create List", "Index", "CreateList", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>