@model IEnumerable<ShopSmart.Common.ShoplistItemCandidate>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    /*@Scripts.Render("~/Scripts/ViewsScripts/CreateList.js")*/
}

<h2>Create your shop list</h2>
<p>
    @*@Html.ActionLink("Get List", "DisplayList")*@
    @*@Ajax.ActionLink("Get List!", "DisplayList", new { id = item.Id }, new AjaxOptions { HttpMethod = "POST" })*@
    <button class="btn-link" id="btnGetList">Get List!</button>
</p>

<div id="ProductsDiv" style="max-height: 550px; background-color: orange; overflow: auto">

    @Html.Partial("ShopListCandidatesBase", this.Model);

</div>
@section scripts
{
    @Scripts.Render("~/Scripts/ViewsScripts/CreateList.js")
    <script type="text/javascript">
        CREATE_LIST_POST_URL = '@Url.Action("PostList", "CreateList")';
        @*CREATE_LIST_POST_URL = '@Url.Action("PostList", "CreateListController", new {id="" })';*@
    </script>
}
    