body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url('/Images/BG.png');
    background-size:   cover;                      
    background-repeat: no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:rgba(255, 255, 255, 0.47);    
    min-height:750px;
}
#footer{position:absolute; bottom:0;}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.strikeout{text-decoration:line-through;}

/*The shop smart logo*/
.navbar-inverse .navbar-brand{color:orange;}
/*navigation links*/
.navbar-inverse .navbar-nav>li>a{color:#ffd800;}

.numberBox{
    max-width:80px;
    text-align:center;
    background-color:rgba(255, 255, 255, 0.47);

}

#ProductsDiv{
    max-height: 600px;
    height:530px; 
    overflow: auto
}

.page-title{ text-align:center}

#ddlMarkets{
    float:right; padding-right:70px
}



 .textbox{ 
    
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
  } 

 .filtersdiv{
    padding-left:350px;
}

.divWelcome {
    background-image:url('/Images/Shopblare.jpg');
    background-size: 100%;
    font-family: "Brush Script MT", cursive;
    color:white;
    font-size:65px;
    height:500px;

}